body {
width: 100vw;
height: 100vh;
background-image: url("assets/background.jpg");

}

#mainBox {
    width: 360px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding-top: 0rem;
    background: rgba(255, 255, 255, 0.404);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#timeBox {

    width: 20rem;
    height: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    align-items: center;
    background: rgba(6, 124, 235, 0.295);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    #date {
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: rgba(255, 255, 255, 0.568);
        
        text-align: center;
        height: 30px;
        position: fixed;
        margin-top: 1rem;
        right: 1rem;
        text-shadow: 0px 0px 0 rgb(199,229,242),
                 1px 1px 0 rgb(185,215,228),
                 2px 2px  0 rgb(172,202,215),
                 3px 3px 2px rgba(255,229,254,0.6),
                 3px 3px 1px rgba(255,229,254,0.5),
                 0px 0px 2px rgba(255,229,254,.2);

    }

    #time {
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: rgba(255, 255, 255, 0.568);
        
        text-align: center;
        height: 30px;
        position: fixed;
        margin-top: 1rem;
        left: 1rem;
        text-shadow: 0px 0px 0 rgb(199,229,242),
                 1px 1px 0 rgb(185,215,228),
                 2px 2px  0 rgb(172,202,215),
                 3px 3px 2px rgba(255,229,254,0.6),
                 3px 3px 1px rgba(255,229,254,0.5),
                 0px 0px 2px rgba(255,229,254,.2);
}

}

#weatherDataBox {
    width: 20rem;
    height: 7rem;
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

        
   
    #temperature {
        font-size: 6.5rem;
        line-height: 6.5rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: rgba(255, 255, 255, 0.459);
        margin-left: auto;
        margin-right: auto;
        margin-top: 0rem;
        margin-bottom: 0rem;
        text-shadow: 0px 0px 0 rgb(199,229,242),
                 1px 1px 0 rgb(185,215,228),
                 2px 2px  0 rgb(172,202,215),
                 3px 3px 2px rgba(255,229,254,0.6),
                 3px 3px 1px rgba(255,229,254,0.5),
                 0px 0px 2px rgba(255,229,254,.2);
        
        
    }

    #description {
        display: none;
        position: fixed;
        top:4rem;
        left:8.5rem;
        font-size: 0.5rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: rgba(8, 52, 117, 0.336);
        text-align: start;
        
        
    }

    #icon {

        width: 60px;
        height: 60px;
        position: fixed;
        top: 1.1rem;
        left: 8.6rem;
        
        
    }

}

#cityBox {

    width: 10rem;
    height: 2rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    text-align: center;
    background: rgba(6, 86, 235, 0.432);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    #city {
        font-size: 1.5rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: rgba(255, 255, 255, 0.425);
        text-shadow: 0px 0px 0 rgb(199,229,242),
                 1px 1px 0 rgb(185,215,228),
                 2px 2px  0 rgb(172,202,215),
                 3px 3px 2px rgba(144, 145, 163, 0.6),
                 3px 3px 1px rgba(153, 163, 190, 0.5),
                 0px 0px 2px rgba(255,229,254,.2);
        
    
    }
}

#forecastBox {

    width: 20rem;
    height: 15rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    background: rgba(2, 126, 243, 0);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
