body {
width: 100vw;
height: 100vh;
background-image: url("assets/background.jpg");

}

#mainBox {
    width: 360px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding-top: 0rem;
    background: rgba(255, 255, 255, 0.404);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#timeBox {

    width: 20rem;
    height: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    align-items: center;
    background: rgba(6, 124, 235, 0.295);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 3px 3px 6px 0px rgba(215,221,247,0.8) inset;

    #date {
        font-size: 1rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: rgba(9, 11, 90, 0.336);
        
        text-align: center;
        height: 1rem;
        position: fixed;
        margin-bottom: 0%;
        margin-top: 1rem;
        right: 1rem;
    }

    #dayOfWeek{
        font-size: 1rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: rgba(9, 11, 90, 0.336);
        text-align: center;
        height: 1rem;
        position: fixed;
        margin-top: 0;
        right: 1rem;
    }

    #time {
        font-size: 1.5rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: #090b5a56;
        
        text-align: center;
        height: 30px;
        position: fixed;
        left: 1rem;
        padding-top: 0.25rem;
        
}

#icon {

    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position: fixed;
    left: 7.2rem;
    
    
    
    
    
}

#description {
    display: none;
    position: fixed;
    top:4rem;
    left:8.5rem;
    font-size: 0.5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: rgba(8, 52, 117, 0.336);
    text-align: start;
    
    
}

}

#weatherDataBox {
    width: 20rem;
    height: 7rem;
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

        
   
    #temperature {
        font-size: 6.5rem;
        line-height: 6.5rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: rgba(255, 255, 255, 0.459);
        margin-left: auto;
        margin-right: auto;
        margin-top: 0rem;
        margin-bottom: 0rem;
        text-shadow: 0px 0px 0 rgb(199,229,242),
                 1px 1px 0 rgb(185,215,228),
                 2px 2px  0 rgb(172,202,215),
                 3px 3px 2px rgba(255,229,254,0.6),
                 3px 3px 1px rgba(255,229,254,0.5),
                 0px 0px 2px rgba(255,229,254,.2);
        
        
    }

    

    


   

}

ul {
    font-size: 0.7rem;
    list-style: none;
    padding-left:0;
    margin-left: auto;
    margin-right: auto;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: rgba(9, 11, 90, 0.336);
        display: flex;
        
       }

       img {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: auto;
        margin-left: auto;
    }

    li {
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        border-right: dashed;
        border-left: dashed;
        border-width: 1px;
        border-color: rgba(255, 255, 255, 0.534);

    }
        
#cityBox {

    width: 10rem;
    height: 2rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    text-align: center;
    background: rgba(6, 86, 235, 0.432);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 3px 3px 6px 0px rgba(155, 172, 247, 0.8) inset;

    #city {
        font-size: 1.5rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: rgba(255, 255, 255, 0.425);
        text-shadow: 0px 0px 0 rgb(199,229,242),
                 1px 1px 0 rgb(185,215,228),
                 2px 2px  0 rgb(172,202,215),
                 3px 3px 2px rgba(144, 145, 163, 0.6),
                 3px 3px 1px rgba(153, 163, 190, 0.5),
                 0px 0px 2px rgba(255,229,254,.2);
        
    
    }
}

#forecastBox {

    width: 20rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    
}

#chartBox {

    width: 20rem;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    background: rgba(2, 126, 243, 0);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 3px 3px 6px 0px rgba(215,221,247,0.8) inset;

}


